.Avatar {
  height: 350px;
  width: 350px;
}

h1,
h2,
h3,
p {
  color: aliceblue;
}

.about-wrapper__info-text {
  color: black;
}

.alternate {
  margin-left: 25px;
  border: none;
}

.alternate:hover {
}

.navigation .nav-item {
  color: aliceblue;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-end;
  margin: 10px 25px;
}
.navbar,
.fixed-top {
  display: flex;
  justify-content: flex-end;
  background-color: #181616;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .jumbotron {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .Avatar {
    height: 200px;
    width: 200px;
  }
  .hero-cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
